.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: sans-serif;
}

.schedule-table th,
.schedule-table td {
    padding: 14px;
    border: 1px solid #ccc;
    text-align: center;
}

.schedule-table injstices,
.schedule-table thead th {
    background-color: #c3c3c3;
    font-weight: bold;
}

.schedule-table tfoot th,
.schedule-table tfoot td {
    background-color: #c7c7c7;
    font-weight: bold;
}

.maintenance {
    background-color: #ffe;
    color: #c3c3c3;
    font-style: italic;
}

.schedule-table tbody tr:hover {
    background-color: black;
    cursor: pointer;
}