.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: sans-serif;
}

.schedule-table th,
.schedule-table td {
    padding: 14px;
    border: 1px solid #795353;
    text-align: center;
}

.schedule-table injstices,
.schedule-table thead th {
    background-color: #2b18df64;
    font-weight: bold;
}

.schedule-table tfoot th,
.schedule-table tfoot td {
    background-color: #6f6b6b;
    font-weight: bold;
}

.maintenance {
    background-color: rgb(2, 2, 0);
    color: #c1c960;
    font-style: italic;
}

.schedule-table tbody tr:hover {
    background-color: black;
    cursor: pointer;
}